/* ページ共通のベース設定 */
body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* メインエリア */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 20px;
    background-color: #f4f4f4;
}

main h1 {
    text-align: left;
	border-left: 10px solid #b71c1c;
	padding-left: 10px;
}

/* 映画リスト */
.movie-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

/* 映画カード */
.movie-card {
    background-color: white;
    border: 1px solid #EEE;
    border-radius: 12px;
    padding: 15px; 
    box-shadow: 0 2px 10px rgba(0,0,0,0.03);
    text-align: left;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.movie-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.movie-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}